<div data-section-id="{{ section.id }}" data-section-type="section-banner-v4" style="{% if section.settings.margin_top != blank %}margin-top: {{section.settings.margin_top}}px;{%endif%} {% if section.settings.margin_bottom != blank %}margin-bottom: {{section.settings.margin_bottom}}px;{% endif %}">
  <div class="section-banner-v4 ">
    <div class="container container-full">
      <div class="row no-gutters js-banner-v4"> 
        {% if section.blocks.size > 0 %}
        {% for block in section.blocks %}
        {% if block.type == 'banner' %}     
        <div class="col-lg-4 col-sm-12">
          <div class="box-banner">
            <div class="box-img">
              <a href="{{block.settings.url_banner1}}" class="img-banner">
                <img loading="lazy" width="" height="" data-src=" {% if block.settings.img_banner1 != blank %}{{block.settings.img_banner1 | image_url }} {% else %}//via.placeholder.com/590x800 {% endif %}" class="lazyload w-100 img-fluid" alt="_img">
              </a>
            </div>
            <div class="info-banner">
              {% if block.settings.title_banner1 != blank %}
              <h3 class="title title-{{ block.id }}">{{block.settings.title_banner1}}</h3>
              {% endif %}  
              {% if block.settings.btn_banner1 != blank %}
              <a href="{{block.settings.url_banner1}}" class="btn-{{ block.id }}">{{block.settings.btn_banner1}}</a>
              {% endif %}
            </div>
          </div>
        </div>
        {% endif %}
        {% endfor %}
        {% endif %} 
      </div>
    </div>
  </div>
</div>
<style>

  {% if section.blocks.size > 0 %}
  {% for block in section.blocks %}
  {% if block.type == 'banner' %}    
  .section-banner-v4 .box-banner .info-banner .title-{{ block.id }} {
    color: {{block.settings.color_title}};
  }
  .section-banner-v4 .box-banner .info-banner .btn-{{ block.id }} {
    color: {{block.settings.color_btn_banner}};
    background: {{block.settings.bg_btn_banner}};
  }
  .section-banner-v4 .box-banner .info-banner .btn-{{ block.id }}:hover {
    color: {{block.settings.hover_color_btn_banner}};
    background: {{block.settings.hover_bg_btn_banner}};
  }

  {% endif %}
  {% endfor %}
  {% endif %} 
</style>

{% schema %}
{
  "name": "BANNER V1",
  "settings": [
    {
      "type": "header",
      "content": "Section Space"
    },
    {
      "type": "text",
      "id": "margin_top",
      "label": "Margin Top",
      "info": "Defined in pixels. Do not add the 'px' unit."
    },
    {
      "type": "text",
      "id": "margin_bottom",
      "label": "Margin Bottom",
      "info": "Defined in pixels. Do not add the 'px' unit."
    }
  ],
  "blocks": [
    {
      "type": "banner",
      "name": "Item banner ",
      "settings": [
        
    {
      "type": "header",
      "content": "Setting banner 1"
    },
    {
      "type": "image_picker",
      "id": "img_banner1",
      "label": "Image",
      "info": "800 x 540px recommended"
    },
    {
      "type": "url",
      "id": "url_banner1",
      "label": "URL images banner 1",
      "default": "/collections/all"
    },
    {
      "type": "text",
      "id": "title_banner1",
      "label": "Title banner 1",
      "default": "Find "
    },
    {
      "type": "text",
      "id": "btn_banner1",
      "label": "Button banner 1",
      "default": "SHOP NOW"
    },
    {
      "type": "header",
      "content": "Settings Color Banner"
    },
    {
      "type": "color",
      "id": "color_title",
      "label": "Color Title",
      "default": "#fff"
    },
    {
      "type": "color",
      "id": "color_btn_banner",
      "label": "Color Button Banner",
      "default": "#fff"
    },
    {
      "type": "color",
      "id": "bg_btn_banner",
      "label": "Background Button Banner",
      "default": "#222"
    },
    {
      "type": "color",
      "id": "hover_color_btn_banner",
      "label": "Color Button Banner Hover",
      "default": "#fff"
    },
    {
      "type": "color",
      "id": "hover_bg_btn_banner",
      "label": "Background Button Banner Hover",
      "default": "#888"
    }
      ]
    }
  ],
  "presets": [
    {
      "name": "BANNER V4",
      "category": "HOME",
	"blocks": [
        {
          "type": "banner",
          "settings": {
            "title_banner1": "Women",
			"btn_banner1": "View More"
          }
        },
        {
          "type": "banner",
          "settings": {
            "title_banner1": "Man",
			"btn_banner1": "View More"
          }
        },
        {
          "type": "banner",
          "settings": {
            "title_banner1": "Basic",
			"btn_banner1": "View More"
          }
        }
      ]
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}